 body {
      background-color: #f4f4f4;
      padding: 2rem;
    }
    .container {
      max-width: 600px;
      margin: auto;
      background: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(1,1,1,0.5);
    }
    
    img {
      max-width: 150px;
      border-radius: 8px;
    }